.containerDetalhes{
    display: flex;
    flex-direction: column;
}

.containerDetalhes img{
    width: 550px;
}

.containerDetalhes button{
    margin: 2rem;
    height: 50px;
    width: 120px;
}

.containerDetalhes h1::selection{
    background-color: brown;

}