.botao{
    background-color: #035859;
    color: #f0a864;
    font-size: 18px;
    font-weight: bold;
    width: 150px;
    height: 25px;
    border: none;
    border-radius: 8px;
    text-align: center;
}